SCENARIO 1.blueprint (10).json
{
    "name": "SCENARIO 1",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1738735,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "name",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "company",
                        "type": "text"
                    },
                    {
                        "name": "phone",
                        "type": "text"
                    },
                    {
                        "name": "message",
                        "type": "text"
                    },
                    {
                        "name": "source",
                        "type": "text"
                    },
                    {
                        "name": "site_name",
                        "type": "text"
                    },
                    {
                        "name": "submitted_at",
                        "type": "text"
                    },
                    {
                        "name": "lead_score",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6906448
                            },
                            "filter": {
                                "name": "Valid Lead Data",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.name}}",
                                            "b": "{{emptystring}}",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.email}}",
                                            "b": "",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{1.site_name}}",
                                            "b": "",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "channelWType": "manualy",
                                "text": "🔥 NEW LEAD — {{1.lead_score}} priority\n\n*Name:* {{1.name}}\n*Email:* {{1.email}}\n*Company:* {{if(length(1.company) > 0; 1.company; \"Not provided\")}}\n*Phone:* {{if(length(1.phone) > 0; 1.phone; \"Not provided\")}}\n\n*Source:* {{1.source}}\n*Site:* {{1.site_name}}\n\n*Message:*\n{{if(length(1.message) > 0; 1.message; \"_No message provided_\")}}\n\n---\nSubmitted: {{formatDate(parseDate(1.submitted_at; \"YYYY-MM-DDTHH:mm:ssZ\"); \"MMM DD, YYYY [at] h:mm A\")}}",
                                "parse": false,
                                "mrkdwn": true,
                                "icon_emoji": "🔥",
                                "username": "Lead Alerts",
                                "channel": "#make-testing"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Slack (bot) connection (qfa-hq.slack.com - make)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 7,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "retry": true,
                                        "count": "3",
                                        "interval": "2"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 900,
                                            "y": -150
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 10000
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 44640
                                                },
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6906448
                            },
                            "mapper": {
                                "text": "⚠️INCOMPLETE LEAD SUBMISSION\n\nA form submission was received but is missing required fields.\n\n*What's missing:*\n{{if(length(1.name) = 0; \"• Name\"; )}}\r\n{{if(length(1.email) = 0; \"• Email\"; )}}\r\n{{if(length(1.site_name) = 0; \"• Site Name\"; )}}\n\n*Raw data received:*\nName: {{1.name}}\nEmail: {{1.email}}\nCompany: {{1.company}}\nPhone: {{1.phone}}\nSite: {{1.site_name}}\nSource: {{1.source}}\n\n*Action required:*\nCheck the form configuration on {{if(length(1.site_name) > 0; 1.site_name; \"the affected site\")}}\n\n- - -\n*Timestamp:* {{formatDate(now; \"MMM DD, YYYY [at] h:mm A\")}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "#make-testing",
                                "username": "System Alerts",
                                "icon_emoji": "⚠️",
                                "channelWType": "manualy"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 608,
                                    "y": 148
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "My Slack (bot) connection (qfa-hq.slack.com - make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 8,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "retry": true,
                                        "count": "3",
                                        "interval": "2"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 908,
                                            "y": 148
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 10000
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "validate": {
                                                    "min": 1,
                                                    "max": 44640
                                                },
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}